.navbar {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.navbar-button-container {
  display: flex;
  align-items: center;
  height: 50%;
  gap: 1rem;
}

.welcome-text {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 0 1rem;
}

.navbar-button {
  background-color: transparent;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border-radius: 1rem;
  width: 125px;
  font-size: 20px;
  font-weight: 600;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease;
}

.navbar-button:hover {
  transform: translateY(-3px) scale(1.02);
  background-color: #ffffff;
}
