.navbar {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-container {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.sign-in-out-container {
  display: flex;
  height: 50%;
}
.sign-in-out-button {
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
  "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border-radius: 1rem;
  width: 125px;
  font-size: 20px;
  font-weight: 600;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.sign-in-out-button:hover {
  transform: translateY(-3px) scale(1.02);
  background-color: #ffffff;
}



