html,
body {
  margin: 0;
  height: 100%;
}

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  bottom: 0;
  width: 100%;
  z-index: 50;
  box-sizing: border-box;
}

.footer-container h3 {
  margin: 0;
}
