.card-container {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;


    transition: transform 0.17s ease, box-shadow 0.3s ease;
}

.card-container:hover {
    transform: translateY(-5px);
    box-shadow: rgba(154, 154, 154, 0.35) 0px 12px 24px -2px, rgb(104, 104, 104) 0px 6px 12px -3px;
}

.card-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}


